{{header_email}}
<tr>
        <td class="email-container-content-message" align="left">
                <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                                <tr>
                                        <td class="email-container-content-frame-message">
                                                <table width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                                <tr>
                                                                        <td align="center" class="email-container-content-message-header">
                                                                                <h1>{{title}}</h1>
                                                                        </td>
                                                                </tr>
                                                                <tr>
                                                                        <td align="center" class="email-container-content-message-padding-body">
                                                                                <table border="0" width="30%" height="100%" cellpadding="0" cellspacing="0"
                                                                                        style="display: inline-table; width: 30% !important;">
                                                                                        <tbody>
                                                                                                <tr>
                                                                                                        <td class="email-container-content-message-divider">
                                                                                                        </td>
                                                                                                </tr>
                                                                                        </tbody>
                                                                                </table>
                                                                        </td>
                                                                </tr>
                                                                <tr>
                                                                        <td class="email-container-content-message-body">
                                                                                <p>{{intro}}</p>
                                                                                <table width="100%" cellpadding="4" cellspacing="0" style="font-size:14px;">
                                                                                        <tbody>
                                                                                                <tr>
                                                                                                        <td><strong>{{label_name}}</strong></td>
                                                                                                        <td>{{name}}</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td><strong>{{label_email}}</strong></td>
                                                                                                        <td>{{email}}</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td><strong>{{label_phone}}</strong></td>
                                                                                                        <td>{{phone}}</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td><strong>{{label_document}}</strong></td>
                                                                                                        <td>{{documentId}}</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td><strong>{{label_claim_type}}</strong></td>
                                                                                                        <td>{{claimType}}</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td><strong>{{label_reservation}}</strong></td>
                                                                                                        <td>{{reservationCode}}</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                        <td valign="top"><strong>{{label_description}}</strong></td>
                                                                                                        <td>{{description}}</td>
                                                                                                </tr>
                                                                                        </tbody>
                                                                                </table>
                                                                        </td>
                                                                </tr>
                                                        </tbody>
                                                </table>
                                        </td>
                                </tr>
                        </tbody>
                </table>
        </td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table cellpadding="0" cellspacing="0" align="center">
        <tbody>
                <tr>
                        <td align="center">
                                <table bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" width="600">
                                        <tbody>
                                                <tr>
                                                        <td class="block-spacer-structure-padding">
                                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody>
                                                                                <tr>
                                                                                        <td class="block-spacer-structure-frame">
                                                                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                                                                        <tbody>
                                                                                                                <tr>
                                                                                                                        <td class="block-spacer"></td>
                                                                                                                </tr>
                                                                                                        </tbody>
                                                                                                </table>
                                                                                        </td>
                                                                                </tr>
                                                                        </tbody>
                                                                </table>
                                                        </td>
                                                </tr>
                                        </tbody>
                                </table>
                        </td>
                </tr>
        </tbody>
</table>

<table cellpadding="0" cellspacing="0" align="center">
        <tbody>
                <tr>
                        <td align="center">
                                <table bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" width="600">
                                        <tbody>
                                                <tr>
                                                        <td class="block-spacer-structure-padding">
                                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody>
                                                                                <tr>
                                                                                        <td class="block-spacer-structure-frame">
                                                                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                                                                        <tbody>
                                                                                                                <tr>
                                                                                                                        <td class="block-spacer"></td>
                                                                                                                </tr>
                                                                                                        </tbody>
                                                                                                </table>
                                                                                        </td>
                                                                                </tr>
                                                                        </tbody>
                                                                </table>
                                                        </td>
                                                </tr>
                                        </tbody>
                                </table>
                        </td>
                </tr>
        </tbody>
</table>
{{footer_email}}
